.form-control {
  color: $gray-4;
  border: 1px solid $gray-2;
  transition: border-color .1s linear, color .1s linear;
}
.form-control:focus {
  border-color: $primary-blue-1;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(12, 142, 255, .6);
}

label,
.control-label {
  font-weight: 400;
}

label[for],
.control-label[for] {
  cursor: pointer;
}

//<div class="custom-radio">
//  <input id="radio" type="radio">
//  <span class="custom-radio--faux"></span>
//  <label class="control-label" for="radio">Check me out</label>
//</div>

.custom-radio {
  display: inline-block;
}

.custom-radio .custom-radio--faux {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #d8dde6;
  border-radius: 50%;
  background: white;
  transition: border 0.1s linear, background-color 0.1s linear;
  margin-top: -3px;
}

.custom-radio [type="radio"] {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.custom-radio label,
.custom-radio .control-label {
  margin-left: 5px;
  margin-bottom: 0;
}

.custom-radio [type="radio"]:checked + .custom-radio--faux,
.custom-radio [type="radio"]:checked ~ .custom-radio--faux {
  background: white;
}

.custom-radio [type="radio"]:checked + .custom-radio--faux:after,
.custom-radio [type="radio"]:checked ~ .custom-radio--faux:after {
  width: 0.825rem;
  height: 0.825rem;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  background: #1589ee;
}

.custom-radio [type="radio"]:focus + .custom-radio--faux,
.custom-radio [type="radio"]:focus ~ .custom-radio--faux {
  border-color: #1589ee;
  box-shadow: 0 0 3px #0070D2;
}

.custom-radio [type="radio"][disabled] {
  cursor: not-allowed;
  user-select: none;
}

.custom-radio [type="radio"][disabled] ~ .custom-radio--faux {
  background-color: #e0e5ee;
  border-color: #a8b7c7;
}

.custom-has-error .custom-radio [type="radio"] + .custom-radio--faux,
.custom-has-error .custom-radio [type="radio"] ~ .custom-radio--faux {
  border-color: #c23934;
  border-width: 2px;
}

.custom-has-error .custom-radio [type="radio"]:checked + .custom-radio--faux,
.custom-has-error .custom-radio [type="radio"]:checked ~ .custom-radio--faux {
  background: white;
}

.custom-has-error .custom-radio [type="radio"]:checked + .custom-radio--faux:after,
.custom-has-error .custom-radio [type="radio"]:checked ~ .custom-radio--faux:after {
  background: #d4504c;
}

.custom-form-element .custom-radio [type="radio"] + .custom-radio--faux,
.custom-form-element .custom-radio [type="radio"] ~ .custom-radio--faux {
  margin-right: 0.85rem;
}

//<div class="custom-checkbox">
//  <input id="check" type="checkbox">
//  <span class="custom-checkbox--faux"></span>
//  <label class="control-label" for="check">Check me out</label>
//</div>

.custom-checkbox {
  display: inline-block;
}

.custom-checkbox .custom-checkbox--faux {
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #d8dde6;
  border-radius: 0.125rem;
  background: white;
  transition: border 0.1s linear, background-color 0.1s linear;
  margin-top: -3px;
}

.custom-checkbox [type="checkbox"] {
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.custom-checkbox label,
.custom-checkbox .control-label {
  margin-left: 5px;
  margin-bottom: 0;
}

.custom-checkbox [type="checkbox"]:checked + .custom-checkbox--faux:after,
.custom-checkbox [type="checkbox"]:checked ~ .custom-checkbox--faux:after {
  display: block;
  content: '';
  height: 0.5rem;
  width: 0.825rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  border-bottom: 2px solid #1589ee;
  border-left: 2px solid #1589ee;
}

.custom-checkbox [type="checkbox"]:focus + .custom-checkbox--faux,
.custom-checkbox [type="checkbox"]:focus ~ .custom-checkbox--faux {
  content: '';
  border-color: #1589ee;
  box-shadow: 0 0 3px #0070D2;
}

.custom-checkbox [type="checkbox"]:focus:checked > .custom-checkbox--faux,
.custom-checkbox [type="checkbox"]:focus:checked ~ .custom-checkbox--faux {
  border-color: #1589ee;
  background-color: white;
}

.custom-checkbox [type="checkbox"][disabled] + .custom-checkbox--faux,
.custom-checkbox [type="checkbox"][disabled] ~ .custom-checkbox--faux {
  background-color: #e0e5ee;
  border-color: #a8b7c7;
}

.custom-checkbox [type="checkbox"][disabled] + .custom-checkbox--faux:after,
.custom-checkbox [type="checkbox"][disabled] ~ .custom-checkbox--faux:after {
  border-color: white;
}

.custom-has-error .custom-checkbox [type="checkbox"] + .custom-checkbox--faux,
.custom-has-error .custom-checkbox [type="checkbox"] ~ .custom-checkbox--faux {
  border-color: #c23934;
  border-width: 2px;
}

.custom-has-error .custom-checkbox [type="checkbox"]:checked + .custom-checkbox--faux,
.custom-has-error .custom-checkbox [type="checkbox"]:checked ~ .custom-checkbox--faux {
  border-color: #c23934;
  background-color: white;
}

.custom-has-error .custom-checkbox [type="checkbox"]:checked + .custom-checkbox--faux:after,
.custom-has-error .custom-checkbox [type="checkbox"]:checked ~ .custom-checkbox--faux:after {
  border-color: #d4504c;
}

.custom-form-element .custom-checkbox [type="checkbox"] + .custom-checkbox--faux,
.custom-form-element .custom-checkbox [type="checkbox"] ~ .custom-checkbox--faux {
  margin-right: 0.85rem;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .custom-radio,
.has-success .checkbox,
.has-success .custom-checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.custom-radio label,
.has-success.checkbox label,
.has-success.custom-checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: $secondary-green;
}
.has-success .form-control {
  border-color: $secondary-green;
}
.has-success .form-control:focus {
  border-color: darken($secondary-green, 10%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px darken($secondary-green, 10%);
}
.has-success .input-group-addon {
  color: $secondary-green;
  border-color: darken($secondary-green, 10%);
}
.has-success .form-control-feedback {
  color: darken($secondary-green, 10%);
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .custom-radio,
.has-warning .checkbox,
.has-warning .custom-checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.custom-radio label,
.has-warning.checkbox label,
.has-warning.custom-checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: $secondary-orange;
}
.has-warning .form-control {
  border-color: $secondary-orange;
}
.has-warning .form-control:focus {
  border-color: darken($secondary-orange, 10%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px darken($secondary-orange, 10%);
}
.has-warning .input-group-addon {
  color: $secondary-orange;
  border-color: darken($secondary-orange, 10%);
}
.has-warning .form-control-feedback {
  color: darken($secondary-orange, 10%);
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .custom-radio,
.has-error .checkbox,
.has-error .custom-checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.custom-radio label,
.has-error.checkbox label,
.has-error.custom-checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: $secondary-red;
}
.has-error .form-control {
  border-color: $secondary-red;
}
.has-error .form-control:focus {
  border-color: darken($secondary-red, 10%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px darken($secondary-red, 10%);
}
.has-error .input-group-addon {
  color: $secondary-red;
  border-color: darken($secondary-red, 10%);
}
.has-error .form-control-feedback {
  color: darken($secondary-red, 10%);
}