h6.heading-list {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid $gray-2;
}

ul {
  -webkit-padding-start: 20px;
}

.list-group-item {
  border: 1px solid $gray-2;
  transition: background-color .1s linear, border-color .1s linear, color .1s linear;
}
a.list-group-item,
button.list-group-item {
  color: $text;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
  color: $text;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: $text;
  background-color: $gray-1;
  outline: 0;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  color: #fff;
  background-color: $primary-blue-1;
  border-color: $primary-blue-2;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: $text;
}
.list-group-item-success {
  color: #fff;
  background-color: $secondary-green;
}
a.list-group-item-success,
button.list-group-item-success {
  color: #fff;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
  color: #fff;
  background-color: darken($secondary-green, 10%);
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
  color: #fff;
  background-color: darken($secondary-green, 10%);
  border-color: darken($secondary-green, 10%);
}
.list-group-item-info {
  color: #fff;
  background-color: $secondary-blue;
}
a.list-group-item-info,
button.list-group-item-info {
  color: #fff;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
  color: #fff;
  background-color: darken($secondary-blue, 10%);
}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
  color: #fff;
  background-color: darken($secondary-blue, 10%);
  border-color: darken($secondary-blue, 10%);
}
.list-group-item-warning {
  color: #fff;
  background-color: $secondary-orange;
}
a.list-group-item-warning,
button.list-group-item-warning {
  color: #fff;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
  color: #fff;
  background-color: darken($secondary-orange, 10%);
}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
  color: #fff;
  background-color: darken($secondary-orange, 10%);
  border-color: darken($secondary-orange, 10%);
}
.list-group-item-danger {
  color: #fff;
  background-color: $secondary-red;
}
a.list-group-item-danger,
button.list-group-item-danger {
  color: #fff;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
  color: #fff;
  background-color: darken($secondary-red, 10%);
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
  color: #fff;
  background-color: darken($secondary-red, 10%);
  border-color: darken($secondary-red, 10%);
}