.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $gray-1;
  transition: background-color .1s linear, color .1s linear;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: $gray-1;
  border-color: $primary-blue-1;
}
.nav .nav-divider {
  background-color: $gray-2;
}

.nav-tabs {
  background-color: $gray-1;
  border-top: 1px solid $gray-3;
  border-bottom: 1px solid $gray-3;
  border-right: 1px solid $gray-3;
}
.nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs > li > a {
  color: $text;
  margin-right: -1px;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 0;
  transition: background-color .1s linear, color .1s linear;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: $gray-3;
}
.nav-tabs > li > a:focus {
  color: $primary-blue-1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $primary-blue-1;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid $gray-3;
  border-left: 1px solid $gray-3;
  background-color: #fff;
}
.nav-tabs.nav-justified {
  border-top: none;
  border-right: none;
  width: 100%;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified {
    border-top: 1px solid $gray-3;
    border-bottom: 1px solid $gray-3;
  }
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}
.nav-tabs.nav-justified > li > a {
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: 0;
}
.nav-tabs.nav-justified > li > a:hover,
.nav-tabs.nav-justified > li > a:focus {
  border: 1px solid $gray-3;
}
.nav-tabs.nav-justified > li > a:focus {
  color: $primary-blue-1;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid $gray-3;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    margin: 0 0 0 -1px;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid $gray-3;
    border-left: 1px solid $gray-3;
    border-radius: 0;
  }
  .nav-tabs.nav-justified > li > a:hover,
  .nav-tabs.nav-justified > li > a:focus {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid $gray-3;
    border-left: 1px solid $gray-3;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid $gray-3;
    border-left: 1px solid $gray-3;
  }
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: $primary-blue-1;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid $gray-1;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid $gray-1;
  }
}