body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #212121;
}

a {
  color: #0070d2;
  transition: color .1s linear;
  &:hover,
  &:active {
    color: #005fb2;
  }
  //&:visited {
  //  color: #0070d2;
  //}
  &:focus {
    color: #005fb2;
  }
}

h1, h2, h3, h4, h5, h6, .panel-heading, .media-heading, .list-group-item-heading {
  font-family: "Merriweather", Georgia, serif;
}

h1 {
  font-weight: 300;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
h4 {
  font-weight: 400;
}
h5 {
  font-weight: 400;
}
h6 {
  font-weight: 500;
  text-transform: uppercase;
}

.text-primary {
  color: $primary-blue-1;
}
a.text-primary:hover,
a.text-primary:focus {
  color: $primary-blue-2;
}
.text-success {
  color: $secondary-green;
}
a.text-success:hover,
a.text-success:focus {
  color: darken($secondary-green, 10%);
}
.text-info {
  color: $secondary-blue;
}
a.text-info:hover,
a.text-info:focus {
  color: darken($secondary-blue, 10%);
}
.text-warning {
  color: $secondary-orange;
}
a.text-warning:hover,
a.text-warning:focus {
  color: darken($secondary-orange, 10%);
}
.text-danger {
  color: $secondary-red;
}
a.text-danger:hover,
a.text-danger:focus {
  color: darken($secondary-red, 10%);
}

.bg-primary {
  color: #fff;
  background-color: $primary-blue-1;
}
a.bg-primary:hover,
a.bg-primary:focus {
  color: #fff;
  background-color: $primary-blue-2;
}
.bg-success {
  color: #fff;
  background-color: $secondary-green;
}
a.bg-success:hover,
a.bg-success:focus {
  color: #fff;
  background-color: darken($secondary-green, 10%);
}
.bg-info {
  color: #fff;
  background-color: $secondary-blue;
}
a.bg-info:hover,
a.bg-info:focus {
  color: #fff;
  background-color: darken($secondary-blue, 10%);
}
.bg-warning {
  color: #fff;
  background-color: $secondary-orange;
}
a.bg-warning:hover,
a.bg-warning:focus {
  color: #fff;
  background-color: darken($secondary-orange, 10%);
}
.bg-danger {
  color: #fff;
  background-color: $secondary-red;
}
a.bg-danger:hover,
a.bg-danger:focus {
  color: #fff;
  background-color: darken($secondary-red, 10%);
}

blockquote {
  padding: 5px 10px;
  margin: 0 0 15px;
  font-size: 14px;
  border-left: 2px solid $gray-4;
}
.blockquote-reverse,
blockquote.pull-right {
  padding: 5px 10px;
  border-right: 2px solid $gray-4;
}

.img-thumbnail {
  border: 1px solid $gray-2;
}
.thumbnail {
  border: 1px solid $gray-2;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $primary-blue-2;
}
.thumbnail .caption {
  color: $text;
}