$gray-1: #eef1f6;
$gray-2: #cfd7e6;
$gray-3: #a7b8d1;
$gray-4: #4f6a92;

$primary-blue-1: #0c8eff;
$primary-blue-2: #0070d2;
$primary-blue-3: #005fb2;
$primary-blue-4: #00396b;

$secondary-pink: #ef7ead;
$secondary-green: #4bc076;
$secondary-cyan: #2ecbbe;
$secondary-blue: #62b7ed;
$secondary-violet: #7f8de1;
$secondary-yellow: #f7b64b;
$secondary-orange: #f88962;
$secondary-red: #ed6f67;