<div class="login">
  <div class="login__form">
    <div class="login__content">
      <a type="button" class="btn btn-default btn-block" (click)="onGoogleSubmit()">Google</a>
      <a type="button" class="btn btn-default btn-block" (click)="toLoginLocal()">Facebook</a>
      <hr>
      <form id="loginForm" role="form" [ngFormModel]="loginForm" (ngSubmit)="onLoginSubmit()">
        <div class="form-group">
          <label class="control-label" for="loginFormEmail">Email</label>
          <input type="text" id="loginFormEmail" class="form-control" required
                 [ngFormControl]="loginForm.controls.email" #email="ngForm">
          <div *ngIf="email.dirty && !email.valid">
            <div class="alert alert-danger" role="alert" [hidden]="!email.errors.minlength">
              Email field must have more then 8 characters
            </div>
            <div class="alert alert-danger" role="alert" [hidden]="email.errors.minlength && !email.errors.isEmail">
              Email not valid
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="loginFormPassword">Password</label>
          <input type="password" id="loginFormPassword" class="form-control" required
                 [ngFormControl]="loginForm.controls.password" #password="ngForm">
          <div *ngIf="password.dirty && !password.valid" >
            <div class="alert alert-danger" role="alert" [hidden]="!password.errors.minlength">
              Password field must have more then 8 characters
            </div>
            <div class="alert alert-danger" role="alert" [hidden]="!password.errors.maxlength">
              Password field must have no more then 30 characters
            </div>
            <div class="alert alert-danger" role="alert" [hidden]="password.errors.minlength && !password.errors.isPassword">
              Password must meet the following rules:
              <ul>
                <li>At least one upper case english letter</li>
                <li>At least one lower case english letter</li>
                <li>At least one digit</li>
                <li>At least one special character</li>
              </ul>
            </div>
          </div>
        </div>
        <p>If you forgot your password you can <a type="router" (click)="toForgot()">reset it</a>.</p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
        </div>
      </form>
    </div>
    <div class="login__to-signup">
        Вы еще не зарегистрированы на XXX?
        <a type="router" (click)="toSignup()">Зарегистрироваться</a>
    </div>
  </div>
</div>