<div class="login">
  <div class="login__form">
    <div class="login__content">
      <button type="button" class="btn btn-default btn-block" (click)="toLoginLocal()">Facebook</button>
      <button type="button" class="btn btn-default btn-block" (click)="toLoginLocal()">Google</button>
      <hr>
      <form id="login-form" role="form" [ngFormModel]="loginForm" (ngSubmit)="onLoginSubmit(loginForm)">
        <div class="form-group">
          <label class="control-label" for="loginFormEmail">Email</label>
          <input type="email" id="loginFormEmail" class="form-control"
                 [ngFormControl]="loginForm.controls['email']" #email="ngForm">
          <div *ngIf="email.dirty && !email.valid">
            <div class="alert alert-danger" role="alert" [hidden]="!email.errors.minlength">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Email field must have more then 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="loginFormPassword">Password</label>
          <input type="password" id="loginFormPassword" class="form-control"
                 [ngFormControl]="loginForm.controls['password']" #password="ngForm">
          <div *ngIf="password.dirty && !password.valid">
            <div class="alert alert-danger" role="alert" [hidden]="!password.errors.minlength">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Password field must have more then 6 characters</div>
          </div>
        </div>
        <p>If you forgot your password you can <a (click)="toForgot()">reset it</a>.</p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
        </div>
      </form>
    </div>
    <div class="login__to-signup">
        Вы еще не зарегистрированы на XXX?
        <a (click)="toSignup()">Зарегистрироваться</a>
    </div>
  </div>
</div>