<div class="login">
  <div class="login__form">
    <div class="login__content">
      <button type="button" class="btn btn-default btn-block" (click)="toLoginLocal()">Facebook</button>
      <button type="button" class="btn btn-default btn-block" (click)="toLoginLocal()">Google</button>
      <hr>
      <form id="form-login" role="form" (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label class="control-label" for="loginFormEmail">Email</label>
          <input type="email" id="loginFormEmail" class="form-control" required
                 [(ngModel)]="loginModel.email" ngControl="email" #email="ngForm">
          <p class="help-block help-block-error"></p>
        </div>
        <div class="form-group">
          <label class="control-label" for="loginFormPassword">Password</label>
          <input type="password" id="loginFormPassword" class="form-control"
                 [(ngModel)]="loginModel.password" ngControl="password" #password="ngForm">
          <p class="help-block help-block-error"></p>
        </div>
        <p>If you forgot your password you can <a href="">reset it</a>.</p>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
      </form>
    </div>
    <div class="login__to-signup">
        Вы еще не зарегистрированы на XXX?
        <a (click)="toSignup()">Зарегистрироваться</a>
    </div>
  </div>
</div>